<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <style>
        input{outline: none;}
    </style>
        <h2>Cadastrar Cliente:</h2>
    <form method="post">
        <input placeholder="Nome" type="text" name="Nome">
        <input placeholder="Sobrenome" type="text" name="Sobrenome">
        <input placeholder="Empresa" type="text" name="Empresa">
        <input type="submit" value="Cadastrar">
    </form>
    <br>
    <a href="http://localhost:3000">Página de Listagem de Clientes.</a>

</body>
</html>